<% include partial/header %>

	<body>

		<div class="container-fluid text-center" style="background-color: #ff6650;">
			<img src="/images/logo1.png" width="500vw" height="300vh" alt="">
		</div>

		<div class="container text-center">
			<% if (typeof status_code !== 'undefined') { %>
				<% switch (status_code) {
				case '110' : %>
					<div class="alert alert-danger mt-3 mb-0">
						<strong>Error:</strong> Name already taken.
					</div>
				<% break; case '111' : %>
					<div class="alert alert-danger mt-3 mb-0">
						<strong>Error:</strong> No more players allowed.
					</div>
				<% break; case '112' : %>
					<div class="alert alert-danger mt-3 mb-0">
						<strong>Error:</strong> Could not add player. Please try again.
					</div>
				<% break;} %>
			<% } %>


			<form action="/createPlayer" method="post">
			<div class="row my-3">
				<div class="col-sm-4"></div>
				<div class="col-sm-4 " id="playerNameInput">
					<label>Player Name:</label>
					<input type="text" class="form-control" id="playerName" name="playerName">
				</div>
			</div>
			<input type="submit" value="Submit" class="btn btn-outline-primary">
			</form>
			<form action="/forceJoin" method="post">
			<div class="row my-3">
				<div class="col-sm-4"></div>
				<div class="col-sm-4 " id="playerNameInput">
					<label>Player ID:</label>
					<input type="text" class="form-control" id="playerID" name="playerID">
				</div>
			</div>
			<input type="submit" value="Force Join" class="btn btn-outline-danger">
			</form>

		</div>
	</body>
</html> 
<!-- test -->
