<% include partial/header %>

	<body>
		<div class="container-fluid text-center" style="background-color: #ff6650;">
			<img src="/images/logo1.png" width="500vw" height="300vh" alt="">
		</div>
		<div class="container text-center">
			<% if (typeof status_code !== 'undefined' && status_code != 200) { %>
				<div class="alert alert-danger mb-0 mt-3">
					<strong>Error:</strong> Unknown server error. Please contact Wing.
				</div>
			<% } %>
			<div class= "my-3" id="startGame">
				<form action="/createGame" method="post">
					<div class="row my-3">
						<div  class="col-sm-4"></div>
						<div class="col-sm-4 " id="numPlayersInput">
							<label for="numPlayers">Number of players:</label>
							<select class="form-control" id="numPlayers" name="numPlayers">
								<option></option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
							</select>
						</div>
					</div>
					<input id="createGameButton" type="submit" value="Start Game!" class="btn btn-outline-primary" disabled>
				</form>
			</div>
			<p>OR</p>
			<div class="my-3" id="joinGame">
				<a href="/game/join_game" class="btn btn-success" role="button">Join Game!</a>
			</div>
		</div>
	</body>
</html> 
<script type="text/javascript">
	$(document).ready(function (){
		$('#numPlayers').change(function (){
			if ($('#numPlayers').val() == ""){
				$('#createGameButton').prop("disabled",true)
			} else {
				$('#createGameButton').removeAttr("disabled")
			}
		})
	})
</script>