

<div class="modal fade" id="releaseNotesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="releaseNotesModal_title">Release Notes: Version 1.0</h5>
        <button id="releaseNotesModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <div class="modal-body" id="releaseNotesModalBody">Known Bugs & Upcoming Updates:
              <span id="investigatedPlayer"></span>
              <div>
                <div class="container mt-3">
                  <div class="row">
                    
                    <ul>
                      <li>Players do not receive notification when they are killed.</li>
                      <li>Voting notifications only indicates when someone has voted, not whether they voted Ja/Nein. Please rely on the honor system until futher updates.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

      <div class="modal-footer">
        <button id="releaseNotesModalSubmit" type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>