<% include ../partial/header %>


	<body>
		<!-- Body -->
		<div class="container-fluid my-3">
			<div class="row">
				<div class="col-sm-8">
					
					<div class="container my-0 text-align" >
						<img src="<%=helper.get_image_url(number_of_players,true,Number(number_of_facist_policies_enacted))%>" width="100%", height="100%">
					</div>
					<div class="container my-0 mt-0 text-align">
						<img src="<%=helper.get_image_url(number_of_players,false,Number(number_of_liberal_policies_enacted))%>" width="100%", height="100%">
					</div>
				</div>
				<div class="col-sm-4 mt-4">
					<div class="container" id="playersDisplay">
						<% for (var i=0; i < list_of_players.length; i++) { %>
							<div class="card my-2">
								<div class="card-body py-1"><%= list_of_players[i] %></div>
							</div>
						<% } %>
					</div>
					<div class="container" id="yesOrNo">

					</div>
				</div>

			</div>
		</div>
	</body>

	<% include websocket %>
</html> 
