<% include ../partial/header %>


	<body>
		
		<div class="container-fluid text-center" style="background-color: #ff6650;">
			<img src="/images/logo1.png" width="500vw" height="300vh" alt="">
		</div>

		<div class="container text-center">
			
			<div class= "my-3" id=""><%= hitler%></div>
			<div class= "my-3" id=""><%= liberalPlayers%></div>

			<div class= "my-3" id=""><%= facistPlayers%></div>

		</div>
	</body>
</html> 