

<div class="modal fade" id="fakeLoad" tabindex="-2" role="dialog" aria-labelledby="fakeLoading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-transparent border-0">
      <div class="d-flex justify-content-center ">
        <div class="spinner-border text-secondary" style="width: 3.5rem; height: 3.5rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>