<% for (var i=0; i < policies_in_hand.length; i++) { %>

	<label class="radio-inline col-sm-4">
		<input value="<%=policies_in_hand[i]%>" id="radio_<%=i+1%>" type="radio" name="policyRadio">
	</label>

<% } %>