<div class="modal fade" id="vetoModalPresident" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vetoModal_title">Veto Power</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" disabled="">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="vetoPresidentsMessage">
        Your chancellor wants to <strong>veto</strong> this agenda.
      </div>
      <div class="modal-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <button id="vetoApprove" type="button" class="btn btn-block btn-success" data-dismiss="modal">Veto</button>
            </div>
            <div class="col-sm-6">
              <button id="vetoDeny" type="button" class="btn btn-block btn-danger" data-dismiss="modal">Deny</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>